// +++ +++ config +++ +++
$white-bcg: map-get($global-colors, white);
$light-gray-bcg: map-get($global-colors, light-gray);
$text-white: map-get($font-colors, white);
$text-orange: map-get($font-colors, orange);

// +++ +++ extends +++ +++
%station-data {
	width: 33%;
	min-height: 90px;
	padding: .250rem;
	text-align: center;
	background-color: green;
	color: $text-white;
		@include for-desktop {
			width: 32%;
		}
}
%more-weather-data {
	margin-bottom: .5rem;
	h3 {
		margin: .225rem 0;
		text-transform: uppercase;
	}
}
%more-weather-data-content {
	span {
		font-size: 1.225rem;
		font-weight: 400;
	}
	span {
		&:last-child {
			font-weight: 300;
		}
	}
}
// +++ +++ Google map +++ +++
.map__container {
	display: none;
	@include for-desktop {
		width: 55%;
		height: 100%;
	}
}
#map {
	display: none;
		@include for-desktop {
			display: block;
			width: 100%;
			height: 100vh;
			z-index: -1;
		}
}
.map__info-header {
	font-size: 1rem;
	font-weight: 400;
}
// +++ +++ API container +++ +++
#api__container {
	width: 100%;
		@include for-desktop {
			overflow: hidden;
			width: 45%;
			max-height: 99vh;
			z-index: 10;
		}
}
// +++ +++ genreal content +++ +++
.data__container {
	width: 100%;
	padding: .750rem;
	background-color: $white-bcg;
}
.data__container-header {
	text-transform: uppercase;
	text-align: center;
}
.data__container-graybcg {
	background-color: $light-gray-bcg;
}
// +++ IJP data +++
.data__container-ijp {
	@include for-desktop {
		display: flex;
		flex-wrap: wrap;
	}
}
.station__container {
	width: 100%;
	margin-top: .500rem;
	padding: .250rem;
	background-color: $light-gray-bcg;
		@include for-desktop {
			width: 49%;
			&:nth-child(2n+1) {
			margin-right: 1%;
		}
		}
}
.station__container-header {
	text-align: center;
	margin-bottom: .250rem;
}
.station__data-ijp {
	@extend %station-data;
}
.data__ijp, .data__pm2, .data__pm1 {
	margin: .250rem 0;
	font-size: 2rem;
	font-weight: 400;
}
.text__ijp, .units {
	font-size: .9rem;
		@include for-desktop {
			font-size: .825rem;
		}
}
.station__data-pm1 {
	@extend %station-data;
}
.station__data-pm2 {
	@extend %station-data;
}
.data__bcg-dgreen {
	background-color: #1b5e20;
}
.data__bcg-green {
	background-color: #8bc34a;
}
.data__bcg-yellow {
	background-color: #fdd835;
}
.data__bcg-orange {
	background-color: #ff5722;
}
.data__bcg-red {
	background-color: #b71c1c;
}
.data__bcg-black {
	background-color: #000;
}
// +++ Weather data +++
.data__container-weather {
	margin-top: .500rem;
	padding: 1rem 0;
	color: $text-orange;
	text-align: center;
}
.weather__lastupdate {
	margin-bottom: 1rem;
}
.weather__lastupdate-header {
	font-size: 1.225rem;
	text-transform: uppercase;
	margin-bottom: .250rem;
}
.weather__lastupdate-content {
	font-weight: 400;
}
.weather__currnet-condition, .moredata__wind-dir {
	width: 45%;
	font-size: 4rem;
}
.weather__currnet-temp {
	width: 50%;
	font-size: 3.25rem;
	span {
		font-weight: 400;
	}
}
.weather__moredata {
	margin-top: 1rem;
}
.weather__moredata-feelstemp, .weather__moredata-wind {
	margin-bottom: .5rem;
	h3 {
		margin-bottom: .225rem;
		text-transform: uppercase;
	}
}
.feelstemp__container{
	span {
		font-size: 2rem;
		font-weight: 400;
	}
}
.moredata__windspeed {
	.windspeed-speed {
		font-size: 3.0rem;
		font-weight: 400;
	}
	.windspeed-units {
		font-size: 1.225rem;
	}
}
.weather__moredata-presure {
	@extend %more-weather-data;
}
.weather__moredata-precip {
	@extend %more-weather-data;
}
.weather__moredata-humidity {
	@extend %more-weather-data;
}
.pressure__container {
	@extend %more-weather-data-content;
}
.precip__container {
	@extend %more-weather-data-content;
}
.humidity__container {
	@extend %more-weather-data-content;
}