// +++ GLOBAL FONT SETTINGS +++
$blobal-font-family: 'Roboto';
$global-font-size: 16px;
$global-font-weight: 300;
$global-font-bold: 400;
$global-font-color: #5e5e5e;

// +++ GLOBAL COLORS +++
$global-colors: (
	bg-color: #D3D3D3,
	g-map-bg: #808080,
	global-white: #fff,
	global-orange: #FF3d00,
	station-gray-bg: #e0e0e0
);