$main-color: #d3d3d3;
$dark-red: pink;
$section-padding: 50px 0;
$main-width: 1000px;
$link-hover: red;
$orange: orange;
$green: green;
$white: #fff;
$blue: blue;
$headerColor: #000;

$colors: (
	borders: #918fa7,
	success: #75b575,
	error: #ff0000,
	info: #014fff
	);
$fontSize: 16px;
$lineHeight: 16px;