// *** FONT COLORS ***
$main_font_color: #5e5e5e;
$st_short_inf_bg: #e0e0e0;
$white_text: #fff;
$weather_info: #ff3d00;

// *** colors for page elements
$main_container_bg: #fff;
$color_for_pm1: #9e9e9e;